:root {
    --primary-color: #e92747;
}

::-webkit-scrollbar {width:10px; background-color: #F5F5F5;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display:none;}
::-webkit-scrollbar-track-piece {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #dedede;}
::-webkit-scrollbar-thumb:vertical {border-radius: 0px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #050607;}

[class^="box-"] {display: none;}
[class^="box-"].showfirst {display: block;}

body {font-family: 'Poppins', sans-serif;overflow-x: hidden;}
*:hover,
*:focus,
* {outline: none !important;}
img {max-width: 100%; height: auto;}
a,
input[type="submit"] {-webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; display: inline-block; cursor: pointer;}
p {font-size: 14px; line-height: 1.43;}

/* Custom Slick Css */
.slick-list {margin: 0 -15px;}
.slick-slide {margin: 0 15px;}
ul.slick-dots {padding: 50px 0 0; text-align: center;}
ul.slick-dots li {margin: 0 20px 0 0px;width: auto;display: inline-block;vertical-align: middle;overflow: hidden;padding: 0px;border: none;}
.slick-dots li button:before,
.slick-dots li button:before {color: #FFF; opacity: 1; font-size: 20px;}
.slick-dots li button {height: 11px;width: 11px;border-radius: 50%;padding: 0px;background: #d6d6d6;border: none;cursor: pointer;font-size: 0px;padding: 0px;-webkit-transition: all 0.4s ease-In-out;-moz-transition: all 0.4s ease-In-out;-o-transition: all 0.4s ease-In-out;transition: all 0.4s ease-In-out;box-sizing: border-box;}
.slick-dots li.slick-active button {background: var(--primary-color);}
span.arrows {width: 36px;height: 36px;border: none;position: absolute;top: 0px;bottom: 0px;margin: auto;z-index: 2;cursor: pointer;line-height: 39px;font-size: 12px;text-align: center;font-weight: 300;top: 0;border-radius: 0;background: #dde2e6;color: #222}
span.arrows.next {right: 1%;}


textarea,
select,
input[type],
textarea,
select,
button {background: transparent; border: none; border-radius: 0px;}
::-webkit-input-placeholder {color: #3b3b3b;}
::-moz-placeholder {color: #3b3b3b;}
:-ms-input-placeholder {color: #3b3b3b;}
:-moz-placeholder {color: #3b3b3b;}

/* Custom Radio Button */
.customradio {display: inline-block;position:  relative;padding-left: 25px;margin-bottom: 0px;cursor: pointer;font-size: 15px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;vertical-align:  middle;font-weight: 400;color: #fff;}
.customradio input {position: absolute; opacity: 0; cursor: pointer;}
.checkmark {position: absolute;top: 4px;left: 0;height: 11px;width: 11px;border-radius: 3px;background-color: #e0e0e0;}
.customradio input:checked ~ .checkmark {background: #ff6101;}


/* Hamburger Menu */
.hamburger {width: 30px;height: 20px;cursor: pointer;position: absolute;right: 15px;top: 0px;bottom: 0px;margin: auto;z-index: 22;display: none;}
.hamburger span {display: block;height: 4px;width: 100%;background: #ffffff;position: absolute;transition: .6s all;border-radius: 100px;}
.hamburger span:nth-child(1) {top: 0;}
.hamburger span:nth-child(2) {top: 8px; transform-origin: left;}
.hamburger span:nth-child(3) {top: 16px;}
.hamburger.open span{background: #fff;}
.hamburger.open span:nth-child(1) {transform: rotate(45deg); top: 12px; transform-origin: right-center;}
.hamburger.open span:nth-child(2) {width: 0; opacity: 0;}
.hamburger.open span:nth-child(3) {transform: rotate(-45deg); top: 12px; transform-origin: right-center;}
body.over-hidden {overflow: hidden;}

body {font-family: 'Poppins';position: relative;}

@media (max-width: 1199px) {
    .container {position: relative;}
	.hamburger {display: block;}
	.mob-menu {display: none;}
	.mob-menu.open {display: block;left: 0;text-align: left;overflow: auto;padding: 20px;}
	.mob-menu {position: fixed;left: -210%;right: 0;top: 0;bottom: 0;background: #000000;height: 100vh;display: flex;align-items: center;justify-content: center;flex-flow: column;transition: all 0.4s ease;z-index: 3;width: 100vw;}
	.mob-menu ul li {display: block;}
	.mob-menu ul li+li {margin-left: 0;}
}

/*General CSS */
.overlay::after {content: '';position: fixed;width: 100%;height: 100%;left: 0;top: 0;background: rgba(0, 0, 0, 0.8);z-index: 5;}
.overlay {display: none;}

ul {padding-left: 0;margin-bottom: 0;}
ul li {list-style: none;}
ul.inline-block li {display: inline-block;}

.bg__detail {background-position: center;background-size: cover;background-repeat: no-repeat;}
.bg__1 {background-image: url(../images/bg/bg-1.jpg);}
.spacing__x {padding: 80px 0 80px 0;position: relative;}

.headingstyle1 {text-align: center;margin-bottom: 30px;}
.headingstyle1 h3 {position: relative;color: red;font-size: 52px;margin: 0;font-weight: 700;padding-bottom: 20px;margin-bottom: 25px;}
.headingstyle1 h3::before {content: '';position: absolute;left: 0;right: 0;margin: auto;bottom: 0;width: 100px;height: 5px;background-color: #333333;}
.headingstyle1 p {margin: 0;font-size: 16px;}
.headingstyle1.left {text-align: left;}

.btn-style-1 {background-color: #FFFFFF;font-size: 18px;padding: 12px 55px 12px 20px;border-radius: 40px;color: red;font-weight: 700;text-transform: uppercase;position: relative;border: 2px solid #FFFFFF;}
.btn-style-1 i {position: absolute;font-size: 32px;top: 50%;transform: translateY(-50%);right: 1rem;}
.btn-style-1:hover {background-color: red;color: #FFFFFF;border-color: red;}

.bg-color-1 {background-color: #f3fbfd;}

.element {position: absolute;}
.element-1 {top: 0;left: -150px;}
.element-1 img {max-width: 60%;}

/*Home Page*/

header {position: fixed;width: 100%;top: 0;padding: 20px 0;transition: all 0.5s ease-in-out;z-index: 2;}
header .main__navigation ul {text-align: center;font-size: 0;}
header .main__navigation ul li {display: inline-block;}
header .main__navigation ul li a {color: #FFFFFF;font-size: 18px;font-weight: 600;text-transform: uppercase;padding: 12px 25px;border-radius: 30px;}
header .main__navigation ul li a:hover {background-color: red;}
header.sticky-header {background-color: red;padding: 5px 0;}
.testimonial-nav .main__navigation ul li a {color: #333333;}
.testimonial-nav .main__navigation ul li a:hover {color: #FFFFFF;}

.banner-home {height: 100vh;display: flex;align-items: center;}
.banner-home .banner-content {text-align: center;}
.banner-home .banner-content img {display: block;margin: auto;}
.banner-home .banner-content .btn-style-1 {margin-top: 30px;}

.banner-home.h-80 {height: 80vh !important;}

.testimonials .headingstyle1 {margin-bottom: 90px;}
.testimonial-box {border: 1px solid #000000;border-radius: 15px;padding: 15px 15px 20px 15px;background: #FFFFFF;text-align: center;margin-bottom: 2rem;}
.testimonial-box img {display: inline-block;margin-top: -50px;margin-bottom: 30px;}
.testimonial-box h5 {position: relative;color: #333333;font-size: 30px;font-weight: 600;text-transform: uppercase;margin: 0;}
.testimonial-box h6 {font-size: 18px;color: #9a9a9a;font-weight: 300;margin: 5px 0 30px 0;}
.testimonial-box p {font-family: 'Open Sans', sans-serif;margin: 0;font-size: 18px;margin-bottom: 30px;}
.testimonial-box ul li i {color: red;font-size: 22px;}

.testimonial-slider .slick-slide {margin: 80px 0 0 0;}
.testimonial-slider .slick-arrow {position: absolute;top: 50%;transform: translateY(-50%);z-index: 1;font-size: 0;cursor: pointer;}
.testimonial-slider .slick-arrow::before {content: '';position: absolute;font: normal normal normal 14px/1 FontAwesome;font-size: 94px;color: #FFFFFF;text-shadow: 0 0 14px #cccccc;}
.testimonial-slider .slick-prev::before {content: "\f104";}
.testimonial-slider .slick-prev {left: -6rem;}
.testimonial-slider .slick-next {right: -4rem;}
.testimonial-slider .slick-next::before {content: "\f105";}
.testimonial-slider .slick-list {}
.testimonial-slider .slick-center {transform: scale(1.2);z-index: 2;}

.about__service {text-align: center;position: relative;padding: 2rem 1rem;margin-bottom: 2rem;}
.about__service * {color: #FFFFFF;}
.about__service img {}
.about__service h4 {font-size: 66px;font-weight: 700;margin: 40px 0 0 0;}
.about__service p {font-size: 32px;font-weight: 600;margin: 0;}

footer .footer-top {background-color: #333333;padding: 50px 0 30px 0;}
footer .footer-top .ft__nav {text-align: center;margin-bottom: 20px;}
footer .footer-top .ft__nav * {color: #FFFFFF;}
footer .footer-top .ft__nav h4 {margin-bottom: 20px;font-weight: 700;text-transform: uppercase;font-size: 32px;}
footer .footer-top .ft-nav ul li {margin-bottom: 0;}
footer .footer-top .ft-nav ul li a {padding: 5px 20px;border-radius: 25px;text-transform: uppercase;font-weight: 500;}
footer .footer-top .ft-nav ul li a:hover {background-color: red;}
footer .footer-top .schedule ul li {margin-bottom: 25px;color: #b3b3b3;line-height: 1.3;}
footer .footer-top .schedule ul li:last-child {margin-bottom: 0;}
footer .footer-top .schedule ul li span {display: block;text-transform: uppercase;}
footer .footer-top .social-icons ul li {margin-right: 30px;}
footer .footer-top .social-icons ul li:last-child {margin-right: 0;}
footer .footer-top .social-icons ul li a {font-size: 30px;}
footer .footer-top .ct-details {}
footer .footer-top .ct-details ul li {color: #b3b3b3;margin-bottom: 10px;}
footer .footer-top .ct-details ul li a {color: #b3b3b3;}
footer .footer-top .ct-details ul li i {color: #FFFFFF;margin-right: 6px;}
footer .footer-top .ct-details .btn-style-1 {background-color: transparent;color: #FFFFFF;}

footer .footer-bottom {background-color: red;padding: 5px 0;}
footer .footer-bottom .copyrights p {color: #ff8c8c;font-size: 18px;text-transform: uppercase;margin: 0;}
footer .footer-bottom .copyrights img {margin: auto;display: block;max-width: 30%;}
footer .footer-bottom .copyrights.txt-right {text-align: right;}


.contact-home .headingstyle1 {margin-bottom: 70px;}
.contact-home .ct-details {}
.contact-home .ct-details ul li {font-size: 26px;font-weight: 700;color: #000000;margin-bottom: 30px;line-height: 1.3;}
.contact-home .ct-details ul li:last-child {margin-bottom: 0;}
.contact-home .ct-details ul li span {display: block;font-weight: 400;letter-spacing: 1px;}
.contact-home [type="text"] {width: 100%;background: #f3f1f2;height: 60px;padding: 0 20px;border: 1px solid #cccccc;}
.contact-home textarea {width: 100%;background: #f3f1f2;padding: 20px;border: 1px solid #cccccc;resize: none;}

.banner-title {text-align: center;background: rgb(80 80 80 / 60%);padding: 2rem 2rem;}
.banner-title h2 {color: #FFFFFF;font-size: 40px;font-weight: 600;}
.banner-title .breadcrums {color: #eeeeee;}
.banner-title .breadcrums li {display: inline-block;padding-right: 7px;}
.banner-title .breadcrums li:last-child {padding-right: 0;padding-left: 7px;}
.banner-title .breadcrums li a {font-size: 16px;color: #eeeeee;}

.about-sctions .text__area p {color: #777777;font-weight: 500;font-size: 18px;}

.story-area .text__area {text-align: center;padding: 7rem 7rem 4rem 7rem;}
.story-area .text__area h3 {color: red;font-size: 42px;font-weight: 700;margin-bottom: 30px;}
.story-area .text__area p {margin: 0;font-size: 18px;color: #777777;line-height: 1.5;margin-bottom: 40px;}

.menu-item-tabs {text-align: center;padding: 20px 0;border-top: 1px solid #cccccc;border-bottom: 1px solid #cccccc;background-color: #FFFFFF;}
.menu-item-tabs ul {font-size: 0;}
.menu-item-tabs ul li {display: inline-block;margin-right: 60px;}
.menu-item-tabs ul li:last-child {margin-right: 0;}
.menu-item-tabs ul li a {font-size: 25px;color: #333333;}
.menu-item-tabs ul li.active a {color: red;}

.type-main-header {position: relative;padding: 4rem 0 0 0;margin-bottom: 5rem;}
.type-main-header h6 {margin: 0;position: absolute;background-color: red;font-weight: 600;color: #FFFFFF;padding: 1rem 2rem;font-size: 32px;line-height: normal;border-radius: 5px;top: 25px;left: 25px;}

.type-menu-items {}
.type-menu-items ul {}
.type-menu-items ul li {display: block;font-size: 0;background-color: #FFFFFF;box-shadow: 0px 0px 20px 8px #eaeaea;border-radius: 5px;margin-bottom: 2rem;}
.type-menu-items ul li > a {display: flex;align-items: center;}
.type-menu-items ul li:last-child {margin-bottom: 0;}
.type-menu-items ul li > div {display: inline-block;vertical-align: middle;}
.type-menu-items ul li .item-image {}
.type-menu-items ul li .item-title {width: calc(100% - 370px);padding: 0 2rem;}
.type-menu-items .item-title {}
.type-menu-items .item-title .item-name {font-size: 24px;font-weight: 700;text-transform: capitalize;color: #333333;} 
.type-menu-items .item-title .item-detail {margin: 0;font-size: 16px;color: #777777;}
.type-menu-items .item-order {text-align: right;}
.type-menu-items .item-order .order-detail {margin-bottom: 20px;}
.type-menu-items .item-order .order-detail:last-child {margin-bottom: 0;}
.type-menu-items .item-order .item-price {margin: 0;color: #333333;font-weight: 600;font-size: 20px;}
.type-menu-items .item-order .item-price span {color: #cccccc;font-weight: 300;font-size: 14px;}
.type-menu-items .item-order .item-name {margin: 0;color: red;font-weight: 400;}

.sidebar-filter {position: fixed;top: 30%;right: -400px;transition: all 0.5s ease-in-out;}
.side-head {transform: rotate(-90deg);text-align: center;width: 230px;cursor: pointer;text-transform: uppercase;height: 70px;background-color: red;color: #FFFFFF;font-size: 24px;font-weight: 600;padding: 17px 0;position: absolute;left: -150px;top: 110px;border-radius: 10px 10px 0 0;}
.sidebar-filter.open .side-head {}
.close-filter {position: absolute;background-color: #333333;width: 25px;height: 25px;top: 18px;right: 18px;color: aliceblue;border-radius: 40px;display: flex;align-items: center;justify-content: center;}
.side-body h5 {color: #333333;font-weight: 600;font-size: 28px;}
.side-body .clear-all {text-align: right;}
.side-body .clear-all a {color: #a2a2a2;font-weight: 300;text-decoration: underline;margin: 10px 0;}
.side-body .item-selected li {display: inline-block;margin-bottom: 10px;}
.side-body .item-selected li a {color: red;font-size: 18px;padding: 6px 18px;border-radius: 40px;}
.side-body .item-selected li:hover a {background-color: red;color: #FFFFFF}
.side-body {width: 400px;background-color: #FFFFFF;padding: 1rem 1rem 1rem 1.5rem;border: 1px solid red;height: 280px;display: flex;flex-flow: column;justify-content: center;border-radius: 10px 0 0 10px;}
.sidebar-filter.open {right: 0;}
.sidebar-filter.closed {right: -400px;}

.popup {width: 1000px;height: 406px;background: #ffffff;margin: auto;position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 6;border-radius: 5px;/* overflow: hidden; */padding-right: 15px;display: none;}
.popup-close {background-color: red;position: absolute;right: -25px;top: -27px;width: 44px;height: 44px;border-radius: 45px;display: flex;align-items: center;justify-content: center;color: #ffffff;font-size: 18px;font-weight: 600;z-index: 5;}
.popup-item-name h6 {font-size: 24px;font-weight: 700;text-transform: capitalize;}
.popup-item-name p {margin: 0;font-size: 16px;color: #777777;}
.popup .item-order {padding-right: 0;}
.popup .item-selected {margin: 20px 0;}
.popup .item-selected li {display: inline-block;margin-bottom: 10px;}
.popup .item-selected li a {color: red;font-size: 18px;padding: 6px 18px;border-radius: 40px;}
.popup .item-selected li:hover a {background-color: red;color: #FFFFFF;}

.dtbl {display: table;width: 100%;table-layout: fixed;}
.dtd {display: table-cell;vertical-align: middle;}

.item-value h5 {}
.item-value .table-head ul li {font-weight: 700;color: #000000;border: 1px solid #cccccc;padding: 5px 0 5px 10px;}
.item-value ul li {font-size: 13px;}
.item-value .table-body ul li {border: 1px solid #cccccc;padding: 5px 0 5px 10px;}

.popup-padding {padding-top: 2rem;padding-bottom: 2rem;}

.accordianBox ul li {margin-bottom: 1rem;border-bottom: 1px solid #cccccc;}
.accordianBox h4 {color: #000000;font-size: 24px;font-weight: 600;padding: 15px 40px 15px 30px;border-radius: 10px;position: relative;cursor: pointer;margin-bottom: 0;}
.accordianBox h4::before {content: "\f107";font: normal normal normal 14px/1 FontAwesome;font-size: 28px;top: 0;bottom: 0;margin: auto;display: flex;align-items: center;position: absolute;left: 0;color: red;font-weight: 700;}
.accordian li > div {display: none;padding: 0 1.7rem;}
.accordianBox p {font-size: 16px;color: #565656;font-weight: 400;margin: 0 0 15px 0;line-height: 25px;}